/* editanto el footer */

footer {
    background-color: #404040;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer li {
    margin: 5px 0;
    font-size: 60%;
}