/* titulos */
/* Nota: para compilar sass el comando es..> sass --watch scss/style.scss:assets/css/style.css */

h1{
    text-align: center;
    color: #6562df;
    font-size: 600%;
}

/* Distancia entre h1 y párrafos */
h1 + p {
    margin-top: 20px;
}

h1 + img {
    margin-top: 20px;
}

/* botones */
.btn {
    font-family: 'Libre baskerville';
    display: block;
    margin: 20px auto; 
    background-color: #6562df;
    font-size: 90%;
    padding: 20px 100px; /* tamaño del botón */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px; /* Esquinas redondeadas */
}